@import "../variables.scss";

.msp-form-field
{
	input
	{
		background-color: rgb(66, 66, 66);
		color: rgb(137, 137, 137);
		border: none;
		border-radius: 7px;
		height: 4vh;
		width: 40vh;
		font-size: 2vh;
		padding: 10px;
	}
	
	p
	{
		color:   rgb(162, 162, 162);
		font-size: 2vh;
	}

	:focus
	{
		outline: none;
	}
}

.msp-anchor
{
	a
	{
		cursor: pointer;
		color: $attention-color;
		font-weight: 600;
	}
}

.msp-button
{
	background-color: $button-color-normal;
	font-weight: 500;
	border: none;
	padding: 1.4rem;
	width: 13rem;
	border-radius: 40px;
	font-size: 1.1rem;
	color: $font-light;
	transition: 0.5s;

	&:hover
	{
		background-color: $button-color-hover;
		transition: 0.5s;
		cursor: pointer;
	}
}

.msp-arrow
{
	font-size: 1.5rem;
	color: #666;
}