@import "./variables.scss";

*
{
	color: $font-light;
}

body
{
	font-family: $global-font-family;
	background: linear-gradient(to bottom, #1e1e1e, #121212);
}

.msp-small-text
{
	font-size: 1.5vh;
}

.msp-success
{
	color: $font-light;
}

.msp-error
{
	color: red;
}

.msp-standard-color
{
	color: $font-light;
}

.msp-font-light
{
	color: $font-light;
}