@import "./variables.scss";

*
{
	color: $font-light;
}

body
{
	font-family: $global-font-family;
	background-color: rgb(16, 16, 16);
}

.msp-small-text
{
	font-size: 1.5vh;
}

.msp-success
{
	color: $font-light;
}

.msp-error
{
	color: red;
}

.msp-button
{
	background-color: $button-color-normal;
	font-weight: 500;
	border: none;
	padding: 1.4rem;
	width: 13rem;
	border-radius: 40px;
	font-size: 1.1rem;
	color: $font-light;
	transition: 0.5s;

	&:hover
	{
		background-color: $button-color-hover;
		transition: 0.5s;
		cursor: pointer;
	}
}

.msp-standard-color
{
	color: $font-light;
}

.msp-font-light
{
	color: $font-light;
}