@import "./variables.scss";

*
{
	color: $font-light;
}

body
{
	font-family: $global-font-family;
	background-color: rgb(16, 16, 16);
}

.msp-small-text
{
	font-size: 1.5vh;
}

.msp-success
{
	color: $font-light;
}

.msp-error
{
	color: red;
}

.msp-button
{
	background-color: $button-color-normal;
	font-weight: 500;
	border: none;
	padding: 2vh;
	width: 22vh;
	border-radius: 40px;
	font-size: 2vh;
	color: $font-light;
}

.msp-standard-color
{
	color: $font-light;
}

.msp-font-light
{
	color: $font-light;
}