$font-light:          rgb(193, 193, 193);
$button-color-normal: rgb(217, 27, 27);
$button-color-hover:  rgb(150, 21, 21);
$transition-length:    0.5s;
$global-font-family:   'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;